.control-panel {
  display: flex;
  position: absolute;

  &.top {
    top: 10px;
  }

  &.bottom {
    bottom: 10px;
  }

  &.left {
    left: 10px;
    flex-direction: row-reverse;
  }

  &.right {
    right: 10px;
    flex-direction: row;
  }
}

.panel {
  display: flex;
  position: relative;

  &.top {
    &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 30px;
      border-top-left-radius: 12px;
      box-shadow: -20px -40px 0px 0 white;
      z-index: 99;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: white;
      left: -45px;
    }
  }

  &.bottom {
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: 40px;
      right: 0px;
      height: 50px;
      width: 30px;
      border-bottom-right-radius: 12px;
      box-shadow: 20px 40px 0px 0 white;
      z-index: 99;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: white;
      right: -45px;
    }
  }

  &.left {
    padding-left: 10px;
  }

  &.right {
    padding-right: 10px;
    justify-content: flex-end;
  }

  .panel-body {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 5px;
    gap: 5px;

    &.left {
      border-radius: 0 50px 50px 0;
    }

    &.right {
      border-radius: 50px 0 0 50px;
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 102;

  &.top {
  }

  &.bottom {
  }

  &.left {
  }

  &.right {
  }
}

// .control-panel {
//   &.top {
//     top: 10px;
//   }

//   &.bottom {
//     bottom: 10px;
//   }

//   &.left {
//     left: 10px;
//   }

//   &.right {
//     right: 0px;
//   }

//   position: absolute;
//   display: grid;
//   grid-template-columns: 90px 300px;
//   flex-direction: row;
//   height: 90px;
//   z-index: 100;

//   .panel {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     position: relative;
//     right: -45px;
//     width: 300px;
//     gap: 2px;
//     padding: 4px;
//     background-color: white;
//     border-radius: 30px 0 0 30px;
//     height: 40px;
//     z-index: 101;

//     &.top {
//       &::before {
//         content: "";
//         position: absolute;

//         background-color: transparent;
//         bottom: -50px;
//         right: 44px;
//         height: 50px;
//         width: 30px;
//         border-top-right-radius: 15px;
//         box-shadow: 0 -25px 0 0 white;
//         z-index: 99;
//       }
//     }

//     &.bottom {
//       bottom: -50px;

//       &::before {
//         content: "";
//         position: absolute;
//         background-color: transparent;
//         top: -49px;
//         right: 44px;
//         height: 49px;
//         width: 30px;
//         border-bottom-right-radius: 15px;
//         box-shadow: 0 25px 0 0 white;
//         z-index: 99;
//       }

//       &::after {
//         content: "";
//         display: inline-block;
//         position: absolute;
//         width: 59px;
//         top: 0;
//         right: -40px;
//         height: 40px;
//         background: white;
//       }
//     }

//     &.left {
//       grid-column-start: 2;
//       right: 0;
//       &::before {
//         right: 0;
//       }
//     }
//   }

//   .circle {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: white;
//     width: 90px;
//     height: 90px;
//     border-radius: 50%;
//     z-index: 102;

//     img {
//       width: 90%;
//       border-radius: 50%;
//       overflow: hidden;
//       background-color: #d6d6d6;
//     }

//     &.left {
//       grid-column-start: 1;
//     }
//   }
// }

// .panel-controls {
//   width: calc(100% - 45px);
//   display: flex;
//   gap: 2px;
//   flex-direction: row;
//   height: 100%;
//   z-index: 100;

//   button {
//     border: 0;
//     color: white;
//     text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
//     padding: 0 12px;
//     cursor: pointer;
//   }

//   &.bottom {
//     gap: 4px;
//   }
// }

.month-selector-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #0fd6fe;
  border-radius: 99px 0 0 99px;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 100;

  &:last-child {
    border-radius: 0 99px 99px 0;
  }
}

.bottom-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  height: 60px;
  z-index: 100;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  background-color: #0fd6fe;
  color: white;
  font-size: 2em;
  cursor: pointer;

  &:hover {
    background-color: #0ac9ef;
  }

  &:active {
    background-color: #0ba9c9;
  }
}

.tag {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 99px;
  background-color: #0fd6fe;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 0 12px;
  cursor: pointer;
}
