.control-panel {
  &.top {
    top: 10px;
  }

  &.bottom {
    bottom: 10px;
  }

  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  height: 90px;
  z-index: 100;

  .panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 45px;
    width: 300px;
    gap: 2px;
    padding: 4px;
    background-color: white;
    border-radius: 30px 0 0 30px;
    height: 40px;
    z-index: 101;

    &.top {
      &::before {
        content: "";
        position: absolute;

        background-color: transparent;
        bottom: -50px;
        right: 44px;
        height: 50px;
        width: 30px;
        border-top-right-radius: 15px;
        box-shadow: 0 -25px 0 0 white;
        z-index: 99;
      }
    }

    &.bottom {
      bottom: 0;

      &::before {
        content: "";
        position: absolute;
        background-color: transparent;
        top: -49px;
        right: 44px;
        height: 49px;
        width: 30px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 25px 0 0 white;
        z-index: 99;
      }
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 102;

    img {
      width: 90%;
      border-radius: 50%;
      overflow: hidden;
      background-color: #d6d6d6;
    }
  }
}

.panel-controls {
  width: calc(100% - 45px);
  display: flex;
  gap: 2px;
  flex-direction: row;
  height: 100%;
  z-index: 100;

  button {
    border: 0;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 0 12px;
    cursor: pointer;
  }

  &.bottom {
    gap: 4px;
  }
}

.month-selector-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #0fd6fe;
  border-radius: 99px 0 0 99px;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 100;

  &:last-child {
    border-radius: 0 99px 99px 0;
  }
}

.bottom-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  height: 60px;
  z-index: 100;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  background-color: #0fd6fe;
  color: white;
  font-size: 2em;
  cursor: pointer;

  &:hover {
    background-color: #0ac9ef;
  }

  &:active {
    background-color: #0ba9c9;
  }
}

.tag {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 99px;
  background-color: #0fd6fe;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 0 12px;
  cursor: pointer;
}
