.uni-wrapper {
  display: flex;
  position: absolute;
  max-width: calc(100vw - 20px);

  &.top {
    top: 10px;
  }

  &.bottom {
    bottom: 10px;
  }

  &.left {
    left: 10px;
    flex-direction: row-reverse;
  }

  &.right {
    right: 10px;
    flex-direction: row;
  }
}

.uni-panel {
  display: flex;
  position: relative;

  &.top {
    &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 31px;
      border-top-left-radius: 12px;
      box-shadow: -20px -40px 0px 0 white;
      z-index: 99;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: white;
      left: -45px;
    }
  }

  &.bottom {
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: 40px;
      right: 0px;
      height: 50px;
      width: 31px;
      border-bottom-right-radius: 12px;
      box-shadow: 20px 40px 0px 0 white;
      z-index: 99;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: white;
      right: -45px;
    }
  }

  &.left {
    padding-left: 10px;
  }

  &.right {
    padding-right: 10px;
    justify-content: flex-end;
  }

  .uni-panel__body {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 5px;
    gap: 5px;
    max-width: calc(100vw - 20px - 90px - 10px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &.left {
      border-radius: 0 50px 50px 0;
    }

    &.right {
      border-radius: 50px 0 0 50px;
    }
  }
}

.uni-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90px;
  height: 90px;
  max-width: 90px;
  max-height: 90px;
  border-radius: 50%;
  z-index: 102;

  &.top {
  }

  &.bottom {
  }

  &.left {
  }

  &.right {
  }
}
